.caret{
    top:22px !important;
}
.link{
    left: 10px !important;
}
.active span{
    color:#57cbef;
}
#initial_form,#renew_form,#local_form,#foreign_form,#local_initial_form,#local_renew_form,
#foreign_initial_form,#foreign_renew_form{
    display: none;
}
